#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 
  
.movie-item:hover .overview {
  opacity: 1;
  transform: translateY(0);
}

.movie-item:hover img {
  transform: scale(1.1);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  padding: 2.5em;
}



.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.pagination {
  margin-top: 20px;
}

button {
  margin: 0 5px;
  border-radius: 3px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  position: relative;
  width: 18%; 
  margin: 4px;
  cursor: pointer;
}

.movie-item img {
  width: 100%;
  height: auto;
  display: block;
}



.movie-item {
  position: relative;
  width: 100%;
  margin: 4px;
  cursor: pointer;
  overflow: hidden;
}

.movie-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}



.movie-item:hover .overview {
  opacity: 1;
  transform: translateY(0);
}

.movie-item:hover img {
  transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
  .movie-item {
    width: 100%;
  }

  .movie-item img {
    width: 100%; 
    height: auto;
  }

  h3 {
    font-size: 1.5rem; 
  }

  h6 {
    font-size: 1rem; 
  }

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2.5em;
  }
  
  
  
  .App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .pagination {
    margin-top: 20px;
  }
  
  button {
    margin: 0 5px;
    border-radius: 3px;
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie-item {
    position: relative;
    width: 18%; 
    margin: 4px;
    cursor: pointer;
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  
  .movie-item {
    position: relative;
    width: 100%;
    margin: 4px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
 

  .overview {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(252, 245, 245);
    padding: 10px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 300ms, transform 300ms;
  }}